h1{
	font-family:serif;
	font-size: 100px;
	font-variant: small-caps;
}
a{
	font-family: serif;
	font-variant: all;
	font-size: 18px;
}

p{
	font-family: serif;
	font-size: 18px;
	font-variant: italic;
	font-weight: lighter;
}
h2{
	font-family: serif;
	font-variant: small-caps;
	font-size: 18px;
}
h5{
	font-family: serif;
	font-variant: small-caps;
	font-size: 18px;
}
button{
	font-family: serif;
	font-variant: small-caps;
	font-size: 18px;
}
.card-img-top{
	height: 400px;
}
.card-text{
	text-align: center;
}
