*{
	padding: 0;
	margin-top: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #f7d437;
}
.medsos	ul li {
	display: inline-block;
	color: rgb(255, 6, 143);
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}

header h1{
	float: left;
	padding: 15px 0px;
	color: #f737a1;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #ff1e7c;
	color: #fff;
}
.active{
	background-color: #f34094;
	color: #fff;
}
.banner{
	height: 60vh;
	background-image: url(../img/LV-banner.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(243, 152, 198, 0.6);
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #f737ad;
}
.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}
.contact{
	background-color: #f775d0;
}
footer{
	padding: 30px 0;
	background-color: #f7d437;
	color: #f3189fd5;
	text-align: center;
}