/* pengaturan body*/
body {
	background-color 	: #DCDCDC;
	text-align			: center;
	font-family			: Verdana, Tahoma, Helvetica;
	font-size			: 12px;
}

/* pengaturan layout utama */
#layout {
	background			: #fff;
	width 				: 980px;
	margin				: auto;
	text-align 			: left;
	padding 			: 2px;
}
#header{
	width 				: 100%;
	height 				: 130px;
	background-color	: #02a2d8;
	position 			: relative;
}
.header {
	width				: 100%;
	height				: 130px;
}



/*pengaturan menu*/
#menu{
	width				: 100%;
	height				: 40px;
	background-color	: green;
	position			: relative;
}
/*pengaturan menu*/
#menu ul {
	margin 				: 0;
	padding 			: 0;
	list-style 			: none;
}

#menu ul li {
	float 				: left;
}

#menu ul li a {
	float 				: left;
	color 				: #DCDCDC;
	padding 			: 12px 20px;
	text-decoration 	: none;
	background 			: Green;
	border-left 		: 1px solid #3C4042;
	border-right 		: 1px solid #3C4042;
	text-shadow 		: 0 -1px 1px rgba(0, 0, 0, 0.6);
}
#menu ul li a:hover {
	color 				: white;
	background 			: #3C4042;
}


/*pengaturan runingtext*/
#runningtext{
	width 				: 100%;
	height				: 25px;
	padding-top  		: 7px;
	margin				: 5px 0 5px 0;
	background-color 	: black;
	color				: white;
	position			: relative;
}



/*pengaturan isi*/
#isi{
	padding 			: 2px;
	width				: 70%;
	height				: auto;
	background-color 	: #D3D3D3;
	position 			: relative;
	margin-top			: 2px;
}
/*pengaturan posting*/
.isiposting{
	background-color	: #DCDCDC;
	width				: 98%;
	height				: 150px;
	margin-bottom		: 2px;
	padding				: 2px;
}
/*pengaturan gambar yang di halaman depan*/
.gambardepan{
	float				: left;
	height				: 140px;
	width 				: 150px;
	margin-right		: 5px;
	margin-top 			: 3px;
	padding 			: 1px;
	border 				: 1px solid #dddddd;
}
/*pengaturan heading2 "Judul" */
.isiposting h2 {
	font-size			: 18px;
	font-weight 		: bold;
	color 				: black;
	margin-top			: 2px;
	margin-bottom		: 2px;
	
}
/*pengaturan anchor atau link yang ada di isiposting */
.isiposting a{
	text-decoration		: none;
}
.isiposting a:hover{
	color				: yellow;
}


#sidebar{
	padding 			: 5px;
	width				: 27%;
	background-color	: #d3beaa;
	position 			: relative;
	float				: right;

}
/*pengaturan widget sidebar*/
.widged{
	width				: 99%;
	background 			: #C0C0C0;
	border-top 			: 1px solid #DFDFDF;
	border-bottom		: 1px solid #DFDFDF;
	border-right  		: 1px solid #DFDFDF;
	border-left			: 1px solid #DFDFDF;
	font-size			: 100%;
	margin 				: 0px 0px 5px 0px;
}
/*pengaturan ukuran iklan dg gambar pada widged*/
.gambariklan{
	width 				: 99%;
	height				: 150px;
}
/*pengaturan huruf judul widged*/
.judulwidged{
	background 			: #d74006;
	padding 			: 5px 10px 5px 10px;
	margin 				: 0px 0px 0px 0px;
	text-align			: center;
	color				: white;
	font-weight			: bold;
	font-size			: 15px;
	margin-bottom		: 5px;
}
.widged ul {
	margin 				: 0px 0px 0px 0px;
	padding 			: 0px 0px 0px 0px;
	list-style-type		: none;
}
.widged li {
	padding 			: 0px 0px 0px 0px; 		/*top right bottom left*/
	background-position	: left;
	background-repeat	: no-repeat;
	color				: #333333;
}
.widged li a {
	color 				: #333333;
	border-bottom		: 1px dotted #cccccc;
	text-decoration		: none;
	display  			: block;
	margin-bottom		: 5px;
	padding 			: 4px 5px 3px 10px;
}
.widged li a:hover {
	color 				: blue;
}

#footer{
	width 				: 100%;
	height				: 50px;
	margin-top			: 5px;
	padding-top			: 30;
	background-color	: #49494e;
	color				: white;
	font-size			: 12pt;
	text-align			: center;
	position			: relative;
	clear				: both;
}


.isipostingall {
	background-color	: #DCDCDC;
	width				: 98%;
	height				: auto;
	margin-bottom		: 2px;
	padding				: 2px;
}
.isipostingall h2{
	text-align			: center;
	color				: Black;
	font-size			: 20px;
	font-weight      	: bold;
}
.gambarposting1 {
	width				: 230px;
	height				: 250px;
	float				: right;
	margin				: 2px 2px 2px 2px;
}


.profil {
	width				: 200px;
	height				: 250px;
	display				: block;
	float				: right;
	padding-right		: 5px;
}
.profil h2{
	text-align			: center;
	color				: maroon;
	font-size			: 20px;
	font-weight 		: bold;
}


#kontak {
	padding				: 5px;
	width				: 99%;
	height				: auto;
	background-color	: white;
	position			: relative;
	margin				: auto;
	font-size			: 20px;
}
.kontak {
	background-color	: none;
	width				: 100%;
	height				: auto;
	margin-bottom		: 5px;
}
.kontak h2 {
	background-color	: maroon;
	height				: 40px;
	color				: white;
	text-align			: center;
	padding-top			: 4px;
	padding-bottom 		: 4px;
}
.tablekontak {
	color				: maroon;
	padding-left		: 20px;	
}
.kolom1 {
	width				: 20%x;	
}
.kolom2 {
	width				: 80%;
}