*{
    padding: 0;
    margin: 0;
    font-family: serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos ul li{
    display: inline-block;
    color: white;
    margin-right: 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
.container:after{
    content: '';
    display: block;
    clear: both;
}

header h1{
    
    float: left;
    padding: 15px 0px;
    color: #008bff;
}
header ul{

    float: right;
}
header ul li{
    display: inline-block;
    
}
header ul li a{
    padding: 25px 10px;
    display: inline-block;
}
header ul li a:hover{
    cursor: pointer;
    color: darkblue ;
}
header li{
    color: #008bff ;
}
.active {
	background-color: white;
	color:#3380FF;
}
.banner{
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(../foto/banner2.png);
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 124, 254 , .5)
}
.banner h2{
    color: white;
    z-index: 1;
    padding: 20 px 25px;
    border: 3px solid white;
}
section{
    padding: 50px 0;
}
section h2{
    text-align: center;
	padding:20px 0;
	color: #3380FF;
	margin-bottom: 25px;
}
.about,
.hobbies {
	padding-bottom: 100px;
}active
.about p {
	color: #3380FF;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.hobbies {
	background-color: #f9f9f9;
}
.box {
	color:#3380FF;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
.box .col-4 h4 {
	margin:20px 0;
}
footer {
	padding:30px 0;
	background-color: #3380FF;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #3380FF;
	border-right-color:#3380FF;
	border-bottom-color: #3380FF;
	animation: puterin .8s linear infinite;
}
.label {
	background-color:#3380FF;
	color: #fff;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}
.info{
    color: #3380FF; ;
}