body {margin: 0px; background-color: #eaeaea; height: 1100px; font-size: 18px;}
.container {
	width: 100%
	height:	80px;
	position: relative;
	margin: 0px;
	padding: 10px 10px;
	background-color: white;
}
.container h1 {text-shadow: 0px 2px 1px cyan;}

.barbantuan {
	width: 150px;
	height: 30px;
	position: absolute;
	top: 35px;
	right: 35px;
	background-color: white;
}
.barbantuan a:hover {padding: 5px 5px;}
.containerlogin {
	width: 100%;
	height: 500px;
	position: relative;
	background-color: black;
}
.logo {
	width: 325px;
	height: 425px;
	position: absolute;
	top: 40px;
	right: 200px;
	background-color: white;
}
.logo h1 {
	width: 20px;
	height:20px;
	margin: 0px;
	padding: 10px 100px;
}

.Username {
	width: 300px;
	height: 83px;
	background-color: white;
	position: absolute;
	top: 60px;
	left: 12px;
	margin: 0px 0px;
	padding: 0px 0px;
}
.Username h3 { width: 110px; padding: 0px 40px; margin: 5px 55px; }
.Username input { 
	width: 250px;
	height: 30px;
	margin: 10px 21px;
	padding: 0px 5px;
}
.password {
	width: 300px;
	height: 83px;
	background-color: white;
	position: absolute;
	top: 165px;
	left: 12px;
}
.password h3 {width: 100px; padding: 0px 52px; margin: 5px 50px;}
.password input {
	width: 250px;
	height: 30px;
	margin: 10px 21px;
	padding: 0px 5px;
}
.daftar{
	width: 70px;
	height:20px;
	background-color: white;
	position: absolute;
	top: 250px;
	left: 0px;
	padding: 0px 10px;
}
.gantipassword {
	width: 130px;
	height: 20px;
	background-color: white;
	position: absolute;
	top: 250px;
	right: 0px;
}
.loginbotton {
	width: 150px;
	height:	30px;
	background-color: violet;
	border-radius: 20px;
	position: absolute;
	top: 275px;
	left: 82px;
}

.withgoogle {
	width: 270px;
	height: 40px;
	background-color: white;
	border-radius: 20px;
	position: absolute;
	top: 310px;
	left: 27px;
}
.withgoogle a img {margin: auto; padding: 0px 85px;}

.withfacebook {
	width: 270px;
	height: 40px;
	background-color: white;
	border-radius: 20px;
	position: absolute;
	top: 360px;
	left: 27px;
}
.withfacebook a img {margin: auto; padding: 0px 90px;}
